<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--All routes-->
<nav>
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/sign-up">Sign-up</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/enterprise/sign-up">Enterprise sign-up</a>
  <a href="/enterprise/login">Enterprise login</a>
  <a href="/enterprise/dashboard">Enterprise dashboard</a>
</nav>
<router-outlet />
