[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
psycopg = "*"

[dev-packages]
isort = {extras = ["requirements_deprecated_finder"], version = "*"}
pylint = "*"
pymarkdown = "*"
codespell = "*"

[requires]
python_version = "3.11"