:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  height: 100%;
}
.dashboard-header{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.dashboard-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.dashboard-full-user-name {
  font-weight: bold;
}
